{% extends 'layout.html' %}
{% block content %}
	<div class="p-3">
		{% for post in posts %}
		<div class="p-3">
			<div class="container card rounded border-light p-3">
				<h4 class="fw-bold display-6" style="font-size:3vh;">{{post['title']}}</h4>
				<h5 class="formatter p-2 border-top" style="font-size:2.5vh">{{post['content']}}</h5>
				<div class="container d-flex justify-content-between">
					<small style="font-size:1.5vh;"> {{post['date_posted']}} </small>	
					<figcaption class="blockquote-footer" style="font-size:1.5vh;">{{post['username']}} </figcaption>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}