{% extends 'layout.html' %}
{% block content %}
	<div class="container p-2">
		<form method="POST" action="">
			{{form.hidden_tag()}} <!-- Adds a CSRF token to protect from attacks -->
			<fieldset>
				<div class="form-floating mb-3">
					{% if form.title.errors %}
						{{form.title(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.title.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{form.title(class="form-control form-control-lg",placeholder="title", id="floatingTextarea2")}}
					{% endif %}
					{{form.title.label}}
				</div>
				<div class="form-floating mb-3">
					{% if form.haiku.errors %}
						{{form.haiku(class="form-control form-control-lg is-invalid")}}
						<div class="invalid-feedback">
							{% for error in form.haiku.errors %}
								<span> {{error}} </span>
							{% endfor %}
						</div>
					{% else %}
						{{form.haiku(class="form-control form-control-lg",placeholder="haiku", id="floatingTextarea2", style="min-height:110px")}}
					{% endif %}
					{{form.haiku.label}}
				</div>
				<!---
				//Prevent implicit submission of the form 
  				<input type="submit" disabled style="display: none" aria-hidden="true">
  				--->
				<div class="form-group">
					{{form.submit(class="btn btn-success")}}
				</div>
			</fieldset>
		</form>
	</div>	
	<div class="container p-2">
			<h1>Haikus:</h1>
			<p>Haiku is a japanese form of poetry, 17 syllabled poem <br>
			in a 5-7-5 pattern</p>
			<p class="fst-italic">This is a haiku <br> this is the middle of it <br> end of this haiku</p>
			<p>So the first line "This is a haiku" has 5 syllables, <br> next one has 7 syllables and last line has 5 syllables <br> thus making a haiku</p>
		</div>
{% endblock content %}