{% extends 'layout.html' %}
{% block content %}
	<div class="container">
			<form method="POST" action="">
				{{form.hidden_tag()}} <!-- Adds a CSRF token to protect from attacks -->
				<fieldset class="form-group">
					<div class="d-flex justify-content-around" style="height: 60vh;">
						<div class="align-self-center">
							<h5 class="h3 mb-3 fw-normal">Login</h5>
							<div class="form-floating">
								{% if form.email.errors %}
									{{form.email(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.email.errors %}
											<span> {{error}} </span>
										{% endfor %}
									</div>
								{% else %}
									{{form.email(class="form-control form-control-lg",placeholder="email", id="floatingTextarea2")}}
								{% endif %}
								{{form.email.label}}
							</div>
							<div class="form-floating">
								{% if form.password.errors %}
									{{form.password(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}
											<span> {{error}} </span>
										{% endfor %}
									</div>
								{% else %}
									{{form.password(class="form-control form-control-lg",placeholder="password", id="floatingTextarea2")}}
								{% endif %}
								{{form.password.label}}
							</div>
							<small class="text muted">
								<a class="text-decoration-none" href="#"> Forgot password? </a>
							</small>
							<div class="form-group py-2">
								{{form.submit(class="btn btn-success")}}
							</div>
							<div>
								<small>
									Don't have an account? <a class="text-decoration-none" href="{{url_for('register')}}"> Sign up! </a>
								</small>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
	</div>
{% endblock content %}