{% extends 'layout.html' %}
{% block content %}
	<div>
		<form method="POST" action="" enctype="multipart/form-data">
			{{form.hidden_tag()}} <!-- Adds a CSRF token to protect from attacks -->
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Account Info</legend>
				<div class="row d-flex p-2">
					<div class="media col">
						<div class="container d-flex justify-content-center align-items-center" style="height: 20vh;">
							<img class="rounded-circle account-image" src="{{profile_image}}">
							<div class="py-2 px-3 media-body">
								<h2 class="account-heading">{{user[0]['username']}}</h2>
								<p class="text-light">{{user[0]['email']}}</p>
							</div>
						</div> 
					</div>
					<div class="col flex-grow-1 m-0">
						<div>
							{{form.username.label}}
							{% if form.username.errors %}
								{{form.username(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.username.errors %}
										<span>{{error}}</span>
									{% endfor %}
								</div>
							{% else %}
								{{form.username(class="form-control form-control-lg")}}
							{% endif %}	
						</div>
						<div>
							{{form.email.label}}
							{% if form.email.errors %}
								{{form.email(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span>{{error}}</span>
									{% endfor %}
								</div>
							{% else %}
								{{form.email(class="form-control form-control-lg")}}
							{% endif %}	
						</div>
						<div class="py-4">
							{{form.pfp(class="form-control")}}
							<p class="help-block">Update profile picture</p>
							{% if form.pfp.errors %}
								{% for error in form.pfp.errors %}
									<span class="text-danger">{{error}}</span>
									<br>
								{% endfor %}
							{% endif %}
						</div>
						<div class="d-flex justify-content-between">
							<div class="form-group">
								{{form.submit (class="btn btn-success")}}
							</div>
							<a class="text-decoration-none btn btn-info" href='{{url_for("edit")}}'> Edit posts </a>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
{% endblock content%}